# APP STATE
# if set to prod == production -> no dev bar available displayed as plain site
# else set to dev == developement -> dev bar at bottom of site will be generated displaying usefull stuff
APP_ENV=dev